<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <title>Lotlot's Porfolio</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Resume</a></li>
        </ul>
    </nav>
    <section class="sections" id="first-section">
        <div id="image-container">
            <img src="../assets/img/Lotlot-Face2.png" alt="Lotlot Pixel Profile" id="profile-picture">
        </div>
        <div id="text-container">
            <h1>Hallo, I am <span>Jose Carlos Navea</span></h1>
            <h2>Aspiring <span>Web Developer</span></h2>
            <div id="media-container">
                <img src="../assets/img/Facebook-Icon-Green.png" alt="Facebook" class="media-icons" id="facebook-icon">
                <img src="../assets/img/Tiktok-Icon-Green.png" alt="Tiktok" class="media-icons" id="tiktok-icon">
                <img src="../assets/img/Instagram-Icon-Green.png" alt="Instagram" class="media-icons" id="instagram-icon">
                <img src="../assets/img/Twitter-Icon-Green.png" alt="Twitter" class="media-icons" id="twitter-icon">
            </div>
        </div>
    </section>
    <script src="js/index.js"></script>
</body>
</html>