<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <title>Lotlot's Porfolio</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#first-section">Home</a></li>
            <li><a href="#second-section">About</a></li>
            <li><a href="#third-section">Projects</a></li>
            <li><a href="#fourth-section">Skills</a></li>
            <li><a href="#fifth-section">Certificates</a></li>
            <li><a href="#sixth-section">Contact</a></li>
        </ul>
    </nav>
    <section class="sections" id="first-section">
        <div id="image-container">
            <img src="../assets/img/icons/Lotlot-Face.png" alt="Lotlot Pixel Profile" id="profile-picture">
        </div>
        <div id="text-container">
            <h1>Hallo, I am <span>Jose Carlos Navea</span></h1>
            <h2>Aspiring <span id="aspiring">Web Developer</span></h2>
            <div id="media-container">
                <img src="../assets/img/icons/Facebook-Icon-Green.png" alt="Facebook" class="media-icons" id="facebook-icon" title="Facebook">
                <img src="../assets/img/icons/Tiktok-Icon-Green.png" alt="Tiktok" class="media-icons" id="tiktok-icon" title="Tiktok">
                <img src="../assets/img/icons/Instagram-Icon-Green.png" alt="Instagram" class="media-icons" id="instagram-icon" title="Instagram">
                <img src="../assets/img/icons/Twitter-Icon-Green.png" alt="Twitter" class="media-icons" id="twitter-icon" title="Twitter">
                <img src="../assets/img/icons/Github-Icon-Green.png" alt="Github" class="media-icons" id="github-icon" title="Github">
            </div>
        </div>
    </section>
    <section class="sections" id="second-section">
        <h1 class="titles">About Me</h1>
    </section>
    <section class="sections" id="third-section">
        <h1 class="titles">My Projects</h1>
        <div id="projects-container">
            <div class="projects" id="project-one">
                <h3>Study Buddy</h3>
                <h4>HTML, CSS, Javascript and SQL</h4>
                <h5>Click Anywhere For More Details</h5>
            </div>
            <div class="projects" id="project-two">
                <h3>Web Tool</h3>
                <h4>HTML, CSS, Javascript</h4>
                <h5>Click Anywhere For More Details</h5>
            </div>
            <div class="projects" id="project-three">
                <h3>DCMS</h3>
                <h4>HTML, CSS, Javascript and SQL</h4>
                <h5>Click Anywhere For More Details</h5>
            </div>
            <div class="projects" id="project-four">
                <h3>Coffee Scape</h3>
                <h4>HTML, CSS, Javascript and SQL</h4>
                <h5>Click Anywhere For More Details</h5>
            </div>
            <div class="projects" id="project-five">
                <h3>Traba Hanap</h3>
                <h4>HTML, CSS, Javascript and SQL</h4>
                <h5>Click Anywhere For More Details</h5>
            </div>
            <div class="projects" id="project-six">
                <h3>Tito Sisig</h3>
                <h4>Java and SQL</h4>
                <h5>Click Anywhere For More Details</h5>
            </div>
        </div>
    </section>
    <section class="sections" id="fourth-section">
        <h1 class="titles">Skills</h1>
        <div id="button-container">
            <img src="../assets/img/icons/HTML-Icon.png" alt="HTML" class="language-buttons" id="html" title="HTML Language">
            <img src="../assets/img/icons/CSS-Icon.png" alt="CSS" class="language-buttons" id="css" title="CSS Language">
            <img src="../assets/img/icons/Javascript-Icon.png" alt="Javascript" class="language-buttons" id="javascript" title="Javascript Language">
            <img src="../assets/img/icons/PHP-Icon.png" alt="PHP" class="language-buttons" id="php" title="PHP Language">
            <img src="../assets/img/icons/SQL-Icon.png" alt="SQL" class="language-buttons" id="sql" title="SQL Language">
            <img src="../assets/img/icons/Java-Icon.png" alt="Java" class="language-buttons" id="java" title="Java Language">
            <img src="../assets/img/icons/C%23-Icon.png" alt="C#" class="language-buttons" id="cSharp" title="C# Language">
            <img src="../assets/img/icons/Python-Icon.png" alt="Python" class="language-buttons" id="python" title="Python Language">
        </div>
        <div id="skill-details">
            <img src="" alt="" id="skill-image">
            <div id="details-container">
                <h2 id="skill-language">Testing</h2>
                <h3 id="skill-experience">Testing</h3>
                <p id="skill-story">Testing Testing Testing Testing Testing Testing Testing Testing Testing Testing</p>
            </div>
        </div>
    </section>
    <section class="sections" id="fifth-section">
        <h1 class="titles">Certificates</h1>
        <div class="certificate-containers">
            <img src="../assets/certificate/Joysis Java.png" alt="Joysis Java" class="certificate-images">
            <div class="certificate-details">
                
            </div>
        </div>
        <div class="certificate-containers">
            <div class="certificate-details">
                
            </div>
            <img src="../assets/certificate/Cisco Cybersecurity.png" alt="Cisco Cybersecurity" class="certificate-images">
        </div>
    </section>
    <footer id="sixth-section">

    </footer>
    <script src="js/index.js"></script>
    <script src="js/scramble.js"></script>
</body>
</html>