<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="icon" href="img">
	<link rel="icon" type="image/x-icon" href="../assets/img/icons/Lotlot-Symbol.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/overview.css">
    <link rel="stylesheet" href="css/active-image.css">
    <title>Overview</title>
  </head>
  <body>
    <nav>
        <div id="logo-container">
            <img src="" alt="" id="logo-icon">
        </div>
        <div id="home-container">
            <div id="home-wrapper">
                <img src="" alt="" id="home-button">
                <h3>Go Back Home</h3>
            </div>
        </div>
    </nav>
    <section class="sections" id="header-section">
        <div id="header-container">
            <h1 id="project-title">Project Title</h1>
            <div id="header-wrapper">
                <h2 id="project-type">Project Type</h2><span>•</span><h2 id="project-year">Project Year</h2>
            </div>
        </div>
        <div id="banner-section">
            <img id="project-banner"  src="" alt="">
        </div>
    </section>
    <section class="sections" id="description-section">
        <div id="description-container">
            <div id="about-container">
                <h2>About This Project</h2>
                <h3 id="project-about">The description about the project.</h3>
            </div>
            <div id="setting-container">
                <div class="settings-wrapper" id="setting-one">
                    <img src="../assets/img/icons/Facebook-Icon-Green.png" alt="">
                    <div class="setting-label">
                        <h3>Project Reason</h3>
                        <h3 id="project-reason"></h3>
                    </div>
                </div>
                <div class="settings-wrapper" id="setting-two">
                    <img src="../assets/img/icons/Facebook-Icon-Green.png" alt="">
                    <div class="setting-label">
                        <h3>Date Completed</h3>
                        <h3 id="date-completed"></h3>
                    </div>
                </div>
                <div class="settings-wrapper" id="setting-three">
                    <img src="../assets/img/icons/Facebook-Icon-Green.png" alt="">
                    <div class="setting-label">
                        <h3 class="setting-labels" id="canvas-label">Canvas Size</h3>
                        <h3 class="setting-labels" id="canvas-size"></h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="tech-container">
            <div id="tech-wrapper">
                <h2>Tech Used</h2>
                <div class="images" id="tech-images"></div>
            </div>
            <div id="tool-wrapper">
                <h2>Tools Used</h2>
                <div class="images" id="tool-images"></div>
            </div>
        </div>
    </section>
    <section class="sections" id="gallery-section">
        <div>

        </div>
    </section>
    <script src="js/overview.js"></script>
    <script src="js/active-image.js"></script>
  </body>
    <div id="active-image-container">
        <img src="" alt="Active Image" id="active-image">
        <span id="close-btn">Click anywhere to close</span>
    </div>
</html>