<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="icon" href="img">
	<link rel="icon" type="image/x-icon" href="../assets/img/icons/Lotlot-Symbol.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/overview.css">
    <title>Overview</title>
  </head>
  <body>
    <nav>
        <div id="logo-container">
            <img src="" alt="" id="logo-icon">
        </div>
        <div id="home-container">
            <div id="home-wrapper">
                <img src="" alt="" id="home-button">
                <h3>Go Back Home</h3>
            </div>
        </div>
    </nav>
    <section></section>
    <script src="js/overview.js"></script>
  </body>
</html>