@font-face{
    font-family: Belanosima;
    src: url(../../fonts/Belanosima/Belanosima-Regular.ttf);
}@font-face{
    font-family: VT323;
    src: url(../../fonts/VT323/VT323-Regular.ttf);
}
*{
    font-family: VT323;
	margin: 0;
    scroll-behavior: smooth;
}
:root{
    --black: #3B3141;
    --white: #F0ECE6;
    --gray: #A6A6A6;
    --green: #72EF36;
}
body{
    background-color: var(--white);
}
body::-webkit-scrollbar{
    width: 0;
}
nav{
    height: 8vh;
	top: 0;
	z-index: 999;
	box-shadow: 0 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin-right: 1rem;
}
nav ul li a{
    font-size: 1.2rem;
    color: var(--black);
  	text-decoration: none;
	font-weight: bold;
	position: relative;
}
.sections{
    height: auto;
    min-height: 100vh;
    width: 100%;
}
.titles{
    font-size: 5rem;
    color: var(--black);
}
#first-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-container{
    width: 21rem;
}
#profile-picture{
    transition: 0.3s ease-in;
}
#profile-picture:hover{
    transition: 0.3s ease-out;
    margin-left: 1rem;
    filter: drop-shadow(-1.5rem 1rem 0 var(--gray));
}
#text-container{
    width: auto;
    animation: glitch 1s linear infinite;
    animation: blur 1s ease-out infinite;
}
#text-container h1{
    font-size: 3.5rem;
    color: var(--black);
}
h1 span{
    padding-bottom: 0.1rem;
}
#text-container h2{
    width: auto;
    min-width: 20rem;
    max-width: 23rem;
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem 0 1rem 1rem;
    border-radius: 1rem;
    color: var(--white);
    background-color: var(--black);
}
#aspiring{
    padding: 0.5rem 1rem 0.5rem 0;
    border-radius: 1rem;
    color: var(--green);
}
#media-container{
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: start;
}
#media-container img{
    height: 4rem;
    margin-right: 1rem;
    transition: 0.3s;
    filter: drop-shadow(0 0 0.2rem var(--black));
    cursor: pointer;
}
#media-container img:hover{
    transition: 0.3s ease-out;
    filter: drop-shadow(-0.4rem 0.4rem 0.2rem var(--black));
}
#second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#third-section{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#project-btn-grp{
    width: 100%;
    margin-top: 3rem;
    padding: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-btn{
    font-size: 1.5rem;
    border-radius: 1rem;
    margin: 0 2rem 0 2rem;
    padding: 1rem 2rem 1rem 2rem;
    color: var(--gray);
    border: none;
    background-color: var(--black);
    cursor: pointer;
}
#web-btn{
    color: var(--green);
}
.projects-list{
    width: 100%;
    padding: 5rem 0 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects{
    height: 35vh;
    width: 40rem;
    border-radius: 1rem;
    margin: 0 1rem 4rem 1rem;
    box-shadow: -1rem 1rem 0.5rem var(--black);
    border: 1px solid black;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.projects:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 1rem;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
    content: "";
    position: absolute;
}
.projects:hover:before {
    background-color: rgba(0, 0, 0, 0.7);
}
.projects:hover {
    transition: 0.3s;
    box-shadow: 0 0 0;
}
.projects h3, 
.projects h4, 
.projects h5{
    z-index: 2;
    margin-bottom: 0.5rem;
    padding: 0 1rem 0 1rem;
    color: #F0ECE6;
    display: none;
    /* align-items: center;
    justify-content: center; */
}
.projects h3{
    font-size: 3rem;
}
.projects h4{
    font-size: 1.5rem;
}
.projects h5{
    margin-top: 3rem;
    font-size: 1rem;
}
/* Webs */
#project-web-one{
    background-image: url("../../assets/img/thumbnails/web/StudyBuddy.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-web-two{
    background-image: url("../../assets/img/thumbnails/web/WebTool.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-web-three{
    background-image: url("../../assets/img/thumbnails/web/DCMS.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-web-four{
    background-image: url("../../assets/img/thumbnails/web/CoffeeScape.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-web-five{
    background-image: url("../../assets/img/thumbnails/web/TrabaHanap.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
/* Pixel Arts */
#project-pixel-one{
    width: 30rem;
    background-image: url("../../assets/img/thumbnails/pixel/Spirited-Away-Train-Scene.webp");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-two{
    width: 33rem;
    background-image: url("../../assets/img/thumbnails/pixel/Finn's-Swords.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-three{
    width: 45rem;
    background-image: url("../../assets/img/thumbnails/pixel/Halloween-Ghost.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-four{
    width: 35rem;
    background-image: url("../../assets/img/thumbnails/pixel/Lotlot\'s-Terraria-Set.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-five{
    width: 18rem;
    background-image: url("../../assets/img/thumbnails/pixel/Adventure-Time.gif");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-six{
    width: 18rem;
    background-image: url("../../assets/img/thumbnails/pixel/Gazer.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-seven{
    width: 18rem;
    background-image: url("../../assets/img/thumbnails/pixel/Feight.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-eight{
    width: 18rem;
    background-image: url("../../assets/img/thumbnails/pixel/Finn-The-Human.gif");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-nine{
    width: 18rem;
    background-image: url("../../assets/img/thumbnails/pixel/Jake-The-Dog.gif");
    background-repeat: no-repeat;   
    background-size: cover;
}
#project-pixel-ten{
    width: 18rem;
    background-image: url("../../assets/img/thumbnails/pixel/Pricess-Bubblegum.gif");
    background-repeat: no-repeat;   
    background-size: cover;
}
/* Applications */
#project-app-one{
    background-image: url("../../assets/img/thumbnails/app/TSBS.png");
    background-repeat: no-repeat;   
    background-size: cover;
}
#fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#button-container{
    width: 80%;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
#button-container img{
    height: 20vh;
    cursor: pointer;
}
#skill-details{
    min-height: 50vh;
    height: auto;
    width: 40rem;
    margin-top: 5rem;
    border-radius: 1rem;
    background-image: url("../../assets/img/icons/Monitor-Off.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#skill-image{
    height: 29.5vh;
    width: 18%;
    margin: 0 2rem 0 3rem;
    /* border: none; */
    display: none;
    align-items: center;
    justify-content: center;
}
#details-container{
    height: 13rem;
    width: 20rem;
    color: var(--black);
    display: none;
    align-items: start;
    justify-content: center;
}
#skill-language{
    font-size: 3.5rem;
}
#skill-experience{
    font-size: 1.5rem;
    margin: 0.5rem 0 0.5rem 0;
}
#skill-story{
    font-size: 1.3rem;
}
#fifth-section{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#certificate-wrapper{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.certificate-containers{
    margin-top: 3rem;
}
.certificate-images{
    height: 20rem;
    width: auto;
    border-radius: 1rem;
    border: 0.3rem solid var(--black);
}