@font-face{
    font-family: Belanosima;
    src: url(../../fonts/Belanosima/Belanosima-Regular.ttf);
}@font-face{
    font-family: VT323;
    src: url(../../fonts/VT323/VT323-Regular.ttf);
}
*{
    font-family: VT323;
	margin: 0;
    scroll-behavior: smooth;
}
:root{
    --black: #3B3141;
    --white: #F0ECE6;
    --gray: #A6A6A6;
    --green: #72EF36;
}
nav{
    height: 8vh;
	top: 0;
	z-index: 998;
	box-shadow: 0 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
    background-color: var(--white);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav #logo-container,#home-container{
    width: 49%;
}
#logo-container{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: left;
}
#home-container{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: right;
}
#home-wrapper{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}